* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  background-image: url("../public/image/livros2.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 33, 89, 0.7);
  z-index: -1;
}

.container {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
}


form {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  text-align: left;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button {
  flex: 1;
  padding: 12px;
  background-color: #0047ab;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #003b94;
}

.btn-inserir {
  background-color: #4CAF50;
}

.btn-inserir:hover {
  background-color: #3e8e41;
}

.btn-cadastrar {
  background-color: #0047ab;
}

.btn-cadastrar:hover {
  background-color: #003b94;
  
.logo-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px; 
  margin-top: -50px;   
}

}
